In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
dataset = pd.read_csv("titanic.csv", usecols=["Survived", "Pclass", "SibSp"])

In [12]:
dataset

     Survived  Pclass  SibSp
0           0       3      1
1           1       1      1
2           1       3      0
3           1       1      1
4           0       3      0
..        ...     ...    ...
886         0       2      0
887         1       1      0
888         0       3      1
889         1       1      0
890         0       3      0

[891 rows x 3 columns]

In [13]:
#StandardScaler

In [14]:
from sklearn.preprocessing import StandardScaler

In [15]:
sd = StandardScaler()

In [18]:
sd_scale = sd.fit_transform(dataset)

In [19]:
sd_scale

array([[-0.78927234,  0.82737724,  0.43279337],
       [ 1.2669898 , -1.56610693,  0.43279337],
       [ 1.2669898 ,  0.82737724, -0.4745452 ],
       ...,
       [-0.78927234,  0.82737724,  0.43279337],
       [ 1.2669898 , -1.56610693, -0.4745452 ],
       [-0.78927234,  0.82737724, -0.4745452 ]])

In [20]:
sd_output = pd.DataFrame(sd_scale)

In [21]:
sd_output

            0         1         2
0   -0.789272  0.827377  0.432793
1    1.266990 -1.566107  0.432793
2    1.266990  0.827377 -0.474545
3    1.266990 -1.566107  0.432793
4   -0.789272  0.827377 -0.474545
..        ...       ...       ...
886 -0.789272 -0.369365 -0.474545
887  1.266990 -1.566107 -0.474545
888 -0.789272  0.827377  0.432793
889  1.266990 -1.566107 -0.474545
890 -0.789272  0.827377 -0.474545

[891 rows x 3 columns]

In [22]:
#MinMaxScaler

In [23]:
from sklearn.preprocessing import MinMaxScaler

In [24]:
mn = MinMaxScaler()

In [25]:
mn_scaler = mn.fit_transform(dataset)

In [26]:
mn_scaler

array([[0.   , 1.   , 0.125],
       [1.   , 0.   , 0.125],
       [1.   , 1.   , 0.   ],
       ...,
       [0.   , 1.   , 0.125],
       [1.   , 0.   , 0.   ],
       [0.   , 1.   , 0.   ]])

In [27]:
mn_output = pd.DataFrame(mn_scaler)

In [28]:
mn_output

       0    1      2
0    0.0  1.0  0.125
1    1.0  0.0  0.125
2    1.0  1.0  0.000
3    1.0  0.0  0.125
4    0.0  1.0  0.000
..   ...  ...    ...
886  0.0  0.5  0.000
887  1.0  0.0  0.000
888  0.0  1.0  0.125
889  1.0  0.0  0.000
890  0.0  1.0  0.000

[891 rows x 3 columns]