In [28]:
txt = "Hello world"
txt.upper()

list1 = ["buet","diu","du"] 
list2 =["eee","cse","software"]

list1.extend(list2)
list1

list1.append("buet")
list1

list1.insert(2,"kuet")
list1

list1.pop()
list1

list1.remove("eee")
list1

list1[2]=["mist","bup"]
list1

del list1[0]
list1

['diu', ['mist', 'bup'], 'du', 'cse', 'software']

In [30]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('data.csv')
df

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [35]:
df.head(6)
df.tail(7)

     Duration  Pulse  Maxpulse  Calories
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [36]:
df.corr()

          Duration     Pulse  Maxpulse  Calories
Duration  1.000000 -0.155408  0.009403  0.922717
Pulse    -0.155408  1.000000  0.786535  0.025121
Maxpulse  0.009403  0.786535  1.000000  0.203813
Calories  0.922717  0.025121  0.203813  1.000000

In [37]:
df['Duration'].mean()

63.84615384615385

In [51]:
df['Pulse'].mean()

107.46153846153847

In [50]:
df['Maxpulse'].mean()

134.0473372781065

In [49]:
df['Duration'].mean()

63.84615384615385

In [38]:
df['Calories'].median()

60.0

In [48]:
df['Duration'].median()

60.0

In [47]:
df['Pulse'].median()

105.0

In [46]:
df['Maxpulse'].median()

131.0

In [45]:
df['Calories'].mode()

0    300.0
dtype: float64

In [44]:
df['Pulse'].mode()

0    100
dtype: int64

In [43]:
df['Maxpulse'].mode()

0    120
dtype: int64

In [42]:
df['Calories'].mode()

0    300.0
dtype: float64

In [52]:
df.isnull()

     Duration  Pulse  Maxpulse  Calories
0       False  False     False     False
1       False  False     False     False
2       False  False     False     False
3       False  False     False     False
4       False  False     False     False
..        ...    ...       ...       ...
164     False  False     False     False
165     False  False     False     False
166     False  False     False     False
167     False  False     False     False
168     False  False     False     False

[169 rows x 4 columns]

In [53]:
df.isnull().sum()

Duration    0
Pulse       0
Maxpulse    0
Calories    5
dtype: int64

In [54]:
df.describe()

         Duration       Pulse    Maxpulse     Calories
count  169.000000  169.000000  169.000000   164.000000
mean    63.846154  107.461538  134.047337   375.790244
std     42.299949   14.510259   16.450434   266.379919
min     15.000000   80.000000  100.000000    50.300000
25%     45.000000  100.000000  124.000000   250.925000
50%     60.000000  105.000000  131.000000   318.600000
75%     60.000000  111.000000  141.000000   387.600000
max    300.000000  159.000000  184.000000  1860.400000